<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Captcha Harvester</title>
</head>
<body>

<div class="g-recaptcha" th:attr="data-sitekey=''+${siteKey}+''" data-callback="submitToken"></div>

<script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>

<script>
    const params = new URLSearchParams(window.location.search);

    const uuid = params.get("uuid");

    function submitToken() {
        (async () => {
            const rawResponse = await fetch("add", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    recaptcha_token: grecaptcha.getResponse(),
                    uuid: uuid
                })
            });
            const content = await rawResponse.json();

            if(content.status) {
                location.reload();

                grecaptcha.reset()
            } else {
                alert("Failed to add recaptcha!");
            }
        }) ();
    }
</script>
</body>
</html>